<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33648279840-belhiujisi8mo6q83v8i5bmqv8e2namc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33648279840-belhiujisi8mo6q83v8i5bmqv8e2namc</string>
	<key>API_KEY</key>
	<string>AIzaSyAbKc4hdVHvNxFz2cVwDS_vlsk2arjajBE</string>
	<key>GCM_SENDER_ID</key>
	<string>33648279840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uco.wbigbie.mixcd</string>
	<key>PROJECT_ID</key>
	<string>mixcdapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mixcdapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33648279840:ios:219f6624992d283f675745</string>
	<key>DATABASE_URL</key>
	<string>https://mixcdapp.firebaseio.com</string>
</dict>
</plist>